p.sub-title1
{
    color: aqua;
    font-family: fantasy;
    font-weight: bold;
}

p#sub-title2
{
    color: pink;
}

span.company
{
    font-weight: bold;
    font-size: larger;
    color: red;
}

h1{
    color: purple;
    font-size: 50pt;
    font-weight: blod;
}


div.box1{
    height:100pt ;
    width: 100pt;
    background-color: royalblue;
    text-align: center;
    border-radius:100px ;
    
}

div.box2{
    height:100pt ;
    width: 100pt;
    background-color: mediumturquoise;
    text-align: center;
    border-radius:50% 50% 50% 0 ;
    
}

div.box3{
    height:100pt ;
    width: 100pt;
    background-color: greenyellow;
    text-align: center;
    border-radius:50% 0 50% 50% ;
}